<div id="filtroNotificacoesContainer" class="s-filtro-container">
    <div class="s-filtro-tab" (click)="mudar()">
        <span>botao</span>
    </div>
    <!-- 
    <div class="trinca">
            <svg height="210" width="500">
                <polygon points="0,0 50,50 0,50" style="fill:lime;stroke:purple;stroke-width:1" />
            </svg>
        </div>
    -->
    <div class="s-filtro-tab45"></div>

    <div id="s-filtro-content" class="s-filtro-content">
        <table style="width:100%">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </table>
    </div>
</div>

<!-- 
<div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<button class="openbtn" (click)="openNav()">&#9776; Toggle Sidepanel</button>
<h2>Collapsed Sidepanel</h2>
<p>Content...</p>
-->